body{
    height: 100%;
    width:100%;
    display:grid;
    grid-template-rows: 5%,85%,5%;
    background-color: lightgrey;
}

header{
    grid-row: 1/2 ;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr,4fr,1fr;
    grid-template-rows: 1fr;
    contain: content;

}

.pageTitle{
    grid-column: 1/2;
    width: 100%
}

#logo {
    grid-column: 2/3;
    height: fit-content;
    height: 80%;
    width: 90%
}

#mainTitle {
    grid-column: 3/4;
    width: 100%;
    font-size: 100%;
    
}
main{
    grid-row:2/3;
    height: 80%;
    width: 95%;
    margin: auto;
    margin-top: -8px;
    gap: 20px;
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr,1fr, 1fr, 1fr, 1fr, 1fr;
    
}

#searchBar{
    width:auto;
    grid-column:2/4;
    grid-row:1/2
}

#movieSection{
    height:100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/8;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.movieTitleBar{
    grid-column: 1/4;
    grid-row: 1/2;
}

.plotSummary{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/4;
}

.yourSlate{
    grid-column: 1/6;
    grid-row: 4/5;
}

.yourSubmission{
    grid-column: 1/6;
    grid-row: 5/7;
}
#moviePoster{
    grid-column:4/6;
    grid-row: 1/4;
}
.moviePoster {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#slatest{
    height: 100%;
    width: 100%;
    grid-column: 3/5;
    grid-row: 2/4;
    border-style: solid;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr,1fr, 1fr, 1fr;
}
#slatestTitle{
    grid-column: 1/3;
    grid-row: 1/2
}
#slatestTime{
    grid-column: 1/3;
    grid-row:2/3;
}
#profilePic{
    grid-column:3/4;
    grid-row:1/3
}
.profilePic{
    height:100%;
    width:100%;
    object-fit: contain;
}
#slatestPoster{
    grid-column:1/2;
    grid-row: 3/5;
}
.slatestPoster{
    height:100%;
    width:100%;
    object-fit: contain;
}
#slateText{
    grid-column:2/4;
    grid-row: 3/5
}

#existing{
    grid-column: 4/5;
    grid-row:4/5
}

#dNc{
    height:100%;
    width:100%;
    grid-column: 3/5;
    grid-row: 5/8;
    border-style: solid;
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: (3, minmax(0, 1fr));
}

#dBcTitle{
    height:100%;
    width:100%;
    grid-column: 1/5;
    grid-row: 1/2;
}
#seeMoreCast{
    grid-column: 5/6;
    grid-row: 1/2
}

#cast1{
    height:100%;
    width:100%;
    grid-column:1/2;
    grid-row:2/4;
    object-fit: contain;
    display:block
}
#cast2{
    height:100%;
    width:100%;
    grid-column:2/3;
    grid-row:2/4;
    object-fit: contain;
    display:block
}
#cast3{
    height:100%;
    width:100%;
    grid-column:3/4;
    grid-row:2/4;
    object-fit: contain;
    display:block
}
#cast4{
    height:100%;
    width:100%;
    grid-column:4/5;
    grid-row:2/4;
    object-fit: contain;
    display:block
}#cast5{
    height:100%;
    width:100%;
    grid-column:5/6;
    grid-row:2/4;
    object-fit: contain;
    display:block
}


footer{
    grid-row:3/4;
}




.cast{
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
}

